<%- include("../partials/header") %>
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Bakım Modu</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Mesaj</label>
                      <div class="form-group">
                        <% if(oyun_setting === null){ %>
                          <textarea class="form-control obstacle" name = "mesaj" rows="5" required></textarea>
                        <% } else { %>
                          <textarea class="form-control obstacle" name = "mesaj" rows="5" required><%= oyun_setting.Bakim_Mesaj %></textarea>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2"><br>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Durum</label>
                      <select class="form-control" name="status" id="exampleFormControlSelect1">
                        <% if(oyun_setting === null){ %>
                          <option class="text-dark">Pasif</option>
                          <option class="text-dark">Aktif</option>
                      <% } else { %>
                      <option class = "text-dark"><%= oyun_setting.Bakim_Status %></option>
                    <% if(oyun_setting.Bakim_Status === "Aktif"){ %>
                        <option class="text-dark">Aktif</option>
                      <% } else { %>
                        <option class="text-dark">Pasif</option>
                      <% } %>
                    <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Güncelle</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>$(".obstacle").keyup(function (){
    if (this.value.match(/[^a-z0-9-]/g)){
       this.value = this.value.replace(/[^a-z0-9-]/g,'');
    }
 });</script>
      <%- include("../partials/footer") %>