<%- include("../partials/header") %>
<div class="content">
  <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hata Mesajı</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bu işlemi PhpMyAdmin'den yapınız.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Bakım Modu Ayarlari</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Mesaj</label>
                      <div class="form-group">
                        <% if(oyun_setting === null){ %>
                          <textarea class="form-control obstacle" name = "mesaj" rows="5" required></textarea>
                        <% } else { %>
                          <textarea class="form-control obstacle" name = "mesaj" rows="5" required><%= oyun_setting.Bakim_Mesaj %></textarea>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2"><br>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Durum</label>
                      <select class="form-control" name="status" id="exampleFormControlSelect1">
                        <% if(oyun_setting === null){ %>
                          <option class="text-dark">Pasif</option>
                          <option class="text-dark">Aktif</option>
                      <% } else { %>
                      <option class = "text-dark"><%= oyun_setting.Bakim_Status %></option>
                    <% if(oyun_setting.Bakim_Status === "Aktif"){ %>
                        <option class="text-dark">Pasif</option>
                      <% } else { %>
                        <option class="text-dark">Aktif</option>
                      <% } %>
                    <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <% if(oyun_setting === null){ %>
                  <button type="button" data-toggle="modal" data-target="#modalError" class="btn btn-primary pull-right" >Güncelle</button>
                <% } else { %>
                  <button type = "submit" class="btn btn-primary pull-right">Güncelle</button>
                <% } %>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>$(".obstacle").keyup(function (){

    const charatcers = "Ü Ğ Ş Ç Ö İ ğ ı ü ş ö ç".split(" ");

    for(let i = 0; i < charatcers.length; i++){
      if (this.value.match(charatcers[i])){
        this.value = this.value.replace(charatcers[i],'');
      }
    }
 });</script>
      <%- include("../partials/footer") %>