<%- include('../../partials/header') %>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Yetkili Ekle</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Kullanıcı Adı</label>
                      <input type="text" name = "username" maxlength="20" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Şifre</label>
                      <input type="text" name = "password" maxlength="16" class="form-control" required>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Rolü</label>
                      <select class="form-control" name="role" id="exampleFormControlSelect1">
                        <option class = "text-dark">Kurucu</option>
                        <option class="text-dark">Admin</option>
                        <option class="text-dark">Moderator</option>
                      </select>
                    </div>
                  </div>
                </div>
                <a href="/admin/competents" class="btn btn-danger pull-left">İptal</a>
                <button type="submit" class="btn btn-primary pull-right">Ekle</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../partials/footer') %>